
*gogo.log
**gogo.log
**/gogo.log/*
*gogo.sh
**/gogo.sh/*
scripts/gogo.sh

*hwaget.log
**hwaget.log
**/hwaget.log/*
*hwaget.sh
**/hwaget.shi/*
scripts/hwaget.sh

*.ignore
.ignore
**/*.ignore/*
**/.ignore/*

.log/*
.log/
.log
*.log
logs
logs/
logs/*.log
**/logs*
**/*.log/*

bak
oh-my-zsh
xdg

**/bak/*

vscode-oss/
**/vscode-oss/*

/dist
/node_modules
/.env
/.idea
/.vscode

node_modules/
/,env
/build
/coverage
.vscode/
.idea/

bin/
obj/
*.user
*.suo
*.rsuser

__pycache__/
*.py[cod]
*.pyo
.env
.venv
.mypy_cache/
.pytest_cache/

node_modules/
npm-debug.log
yarn-error.log

.venv
/.venv
.venv/
**/.venv/*

hexchat
*hexchat
hexchat*
/hexchat
hexchat/
**/hexchat/*
.config/hexchat
.config/hexchat/*

