/* CSS File for UA SWITCHER extension*/

/* global */
body{font-size:62.5%;font-family:sans-serif;background-color:#FAFAFA;color:#333;margin:0px;padding:0px;zoom:1.0}
.icon_16{width:16px;height:16px;vertical-align:middle;border:0px;}
.icon_32{width:32px;height:32px;vertical-align:middle;border:0px;}
.icon_48{width:48px;height:48px;vertical-align:middle;border:0px;}
.icon_50{width:50px;height:50px;vertical-align:middle;border:0px;}
.icon_60{width:60px;height:60px;vertical-align:middle;border:0px;}
.icon_flag{width:16px;height:11px;vertical-align:middle;border:0px;}
a{color:#069;text-decoration: none; }

.clear{clear:both}
.center{text-align:center}
.b{font-weight:bold}
.r{color:#f00}
.g{color:#0f0}
.g8{color:#080}
.nowrap{white-space:nowrap;}
.right{text-align:right}
.w20{width:20%}
.w30{width:30%}
.err{font-size:1.4em;color:#f00}
.tips{font-size:1.4em;color:#060}
.top{vertical-align:top}
.middle{vertical-align:middle}
.noshow{display:none}


/*Options page*/
#option_page{margin:0px;padding:0px;width:100%;min-width:640px;}
#option_topmenu{width:100%;height:32px;background:#000;overflow:hidden;}
#option_left{width:100px;padding:6px 4px 4px 20px;float:left;font-weight:bold;font-size:1.4em;color:#fff;}
#option_right{width:300px;height:30px;padding:6px 20px 0px 0px;float:right;font-size:1.3em;text-align:right;}
#option_right A{color:#ccc;background:#000;}
#option_right A:hover{color:#fff;text-decoration:underline;}
#option_toplogo{background:#ddd;border-bottom:1px #aaa solid;height:100px;}
#tbl_area{padding-top:10px}
#toptable{width:90%;margin:0px 0px 0px 10px;border-spacing:0px;}
.logo_left{width:94px;padding:0px;margin:0px;}
.logo_left .divimg{margin:0px 0px 0px 10px;padding:0px;width:64px;height:64px;}
.logo_left .divimg IMG{width:64px;height:64px;border:0px;}
.logo_right{font-weight:bold;font-size:1.6em;vertical-align:middle;}
#do_you_like{font-size:1.2em;text-align:right;padding:0px 20px;}
#do_you_like A{font-weight:bold}
#options_section{margin:20px 0px;}
#options_section table {border-collapse:collapse;border-spacing:0px;width:100%;max-width:100%;}
#options_section table td{vertical-align:top;}
#options_section .options_table{width:100%;max-width:100%;}
#options_section .menu{width:180px;font-size:1.2em;color:#888;}
#options_section .menu a{display:block;margin-bottom:10px;-webkit-border-start: 6px solid transparent;-webkit-padding-start: 18px;-webkit-user-select: none;line-height:200%;}
#options_section .menu a:hover{color:#333}
#options_section .menu .menu_sel{color:#333;-webkit-border-start-color: rgb(78, 87, 100);}
#options_section .menu .menu_unsel{font-weight:normal;color:#999}
#options_section .pages{vertical-align:top;padding-right:20px;}
#options_section .display{display:block}
#options_section .hide{display:none}
.manage_btns{margin:10px 0px;}
.manage_btns button{width:80px;font-size:1.2em}
.viewtype label{font-size:1.2em}
.manage_btns #btn_del{margin-left:88px}

.options_title{font-size:1.6em;border-bottom:1px solid #ddd;padding-bottom:10px;margin-bottom:20px;}
.options_title span{margin-left:5px; margin-right:5px;}
.options_item{margin:0px;}

/*page: manage user-agent*/
#page_agents #agents_table .list{width:270px}
#page_agents #wrap_ualist SELECT{width:250px;height:380px;}
#page_agents #wrap_ualist{margin-bottom:10px}
.edit_title{font-size:1.2em;line-height:180%}
.edit_ctrl{margin-bottom:10px}
#ipt_name{width:95%;text-indent:4px;}
#ipt_ua{width:95%;height:60px;text-indent:4px;}
#ipt_flag{text-indent:4px;}
#ipt_flag,
#ipt_browser,
#ipt_device,
#ipt_os{width:160px;text-indent:4px;}
.edit_error{border:1px solid #f00}

/*Pop widnow*/
#pop_window{-moz-border-radius: 6px;background: #eef2f7;-webkit-border-radius: 6px;border: 1px solid #536376;-webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;-moz-box-shadow:  rgba(0,0,0,.6) 0px 2px 12px;;padding: 14px 22px;position: relative;display: none;}
#pop_window INPUT{text-indent:4px;padding:2px 0px;outline:0px;font-size:1.2em;}
.pop_title{border: 1px solid #aaa;width:100%;padding:4px 0px;background: #ccc;font-weight: bold;border-radius: 4px;}
.pop_title span{margin-left:10px;font-size:1.4em;}
.pop_desc{margin: 20px 0px;padding: 0px;}

.pop_add{width: 480px;}
.pop_add #ipt_add_name{width:478px;}
.pop_add #ipt_add_ua{width:478px;height:60px;}
.pop_add #ipt_add_flag{text-indent:4px;}
.pop_add #ipt_add_flag,
.pop_add #ipt_add_browser,
.pop_add #ipt_add_device{width:160px;text-indent:4px;}

.pop_delete{width: 400px;}

.pop_desc_del,
.pop_desc_reset{padding: 6px 4px 4px 40px;min-height: 32px;font-size:1.2em;}
.pop_desc_del{background: url(image/icon-del.png) no-repeat;}
.pop_desc_reset{background: url(image/icon-reset.png) no-repeat;}
.pop_btns{border-top:1px solid #ddd;padding-top:10px;margin-top:10px;text-align:right;}
.pop_btns button{width:80px;}
.pop_btns #btn_yes{margin-right:20px}


/*page: manage group */
#page_group SELECT{width:230px;height:250px}
#page_group .grouptitle{margin:10px 0px;font-size:1.2em;}
#options_section table#groups_table{width:540px}
#groups_table td{width:49%;}
#groups_table .manage_btns button{width:70px}
#groups_table .manage_btns #btn_bwsadd,
#groups_table .manage_btns #btn_bwsedit,
#groups_table .manage_btns #btn_devadd,
#groups_table .manage_btns #btn_devedit{margin-right:10px}
/*page: manage group, popup window*/
.pop_group{width:400px;}
.pop_group  #ipt_group{width:398px;}

/*page: general */
#wrap_general table{border-collapse:collapse;border-spacing:0px;width:100%;max-width:100%;}
#wrap_general table td{vertical-align:top;}
#wrap_general table .td_chk{width:30px;}
#wrap_general table .td_chk input[type="checkbox"]{margin:3px 3px 3px 0px}
#wrap_general table .td_desc{padding-bottom:15px;font-size:1.2em;line-height:180%;}
#wrap_general table .td_title{font-size:1.4em;line-height:180%;padding-left:2px;}
#wrap_general table label{font-weight:bold;margin:0px 0px 5px 0px;display:block;}
#wrap_general #btn_reset{margin-top:5px}

/*page: about*/
.about_name{background: url(image/logo-32.png) no-repeat;padding:0px 0px 0px 40px}
.about_title{font-size:1.6em;font-weight:bold;line-height:100%;}
.about_ver{font-size:1.2em;line-height:100%;margin-top:10px;}
.about_desc{font-size:1.2em;line-height:180%;margin-top:20px}
.about_links{font-size:1.2em;line-height:180%;margin-top:20px;}

#lbl_title_desc{font-size:1.2em;}
#options_subscribe{margin:10px 20px;padding:10px 0px 0px 0px;border-top:1px solid #ddd}
/*
.options_item button, .options_item  input[type="submit"]{margin-left:5px;margin-right:5px;-webkit-appearance: none;-webkit-user-select: none;background-image: -webkit-linear-gradient(#ededed, #ededed 38%, #dedede);border: 1px solid rgba(0, 0, 0, 0.25);border-radius: 2px;box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);color: #444;font: inherit;margin: 0 1px 0 0;text-shadow: 0 1px 0 rgb(240, 240, 240);}
:enabled:hover:-webkit-any(select,input[type='checkbox'],input[type='radio'],:-webkit-any(button,input[type='button'],input[type='submit']):not(.custom-appearance):not(.link-button))
  {background-image: -webkit-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);border-color: rgba(0, 0, 0, 0.3);box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12),inset 0 1px 2px rgba(255, 255, 255, 0.95);color: black;}
*/